/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*-------------------------------------
base
-------------------------------------*/
*:focus {
  border: 2px solid #287ad9; }

img {
  max-width: 100%;
  vertical-align: middle; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a:hover {
  text-decoration: none; }

body .container, body main {
  background: #e8e8e8; }

.show-grid {
  background: #ccc; }
  .show-grid div {
    border: 1px solid #000; }

main {
  margin: 0 auto; }

/*-------------------------------------
slideshows
-------------------------------------*/
.slideshow {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px; }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .slideshow {
      max-width: 992px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .slideshow {
      max-width: 768px; } }
  @media only screen and (max-width: 480px) {
    .slideshow {
      max-width: 480px; } }

.slideshow-sliders:after {
  content: "";
  display: table;
  clear: both; }

.slideshow-sliders li {
  float: left; }

.slideshow-sliders a {
  display: block; }

.slideshow-nav {
  font-size: 2em; }
  .slideshow-nav a {
    position: absolute;
    top: 50%;
    z-index: 100;
    color: #333; }
    .slideshow-nav a:hover {
      opacity: .7; }
  .slideshow-nav .prev {
    left: 3%; }
  .slideshow-nav .next {
    right: 3%; }
  .slideshow-nav .disabled {
    display: none; }

.slideshow-indicator {
  position: absolute;
  right: 3%;
  bottom: 6px;
  z-index: 100;
  text-align: center;
  letter-spacing: -3px; }
  .slideshow-indicator li {
    display: inline-block;
    overflow: hidden;
    margin-left: 6px;
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background: #808080; }
    .slideshow-indicator li:first-child {
      margin-left: 0; }
    .slideshow-indicator li a {
      display: block; }
    .slideshow-indicator li span {
      position: relative;
      z-index: -1; }
  .slideshow-indicator .active {
    background: #00a395; }
    .slideshow-indicator .active a {
      cursor: default; }

.no-js .slideshow {
  overflow: inherit;
  height: auto; }

.no-js .slideshow-slides {
  position: static;
  height: auto; }
  .no-js .slideshow-slides .li {
    position: static;
    display: block;
    height: auto; }
    .no-js .slideshow-slides .li img {
      position: static;
      margin: auto; }

.no-js .slideshow-nav, .no-js slideshow-indicator {
  display: none; }
